{erl_opts, [debug_info]}.
{deps, [
        {java_erlang, {git, "https://github.com/fredlund/JavaErlang.git", {branch, "master"}}}
        ,{mochijson2, {git, "https://github.com/bjnortier/mochijson2.git", {branch, "master"}}}
        ,{jesse, {git, "https://github.com/klarna/jesse.git", {branch, "master"}}}
        ,{jiffy, {git, "https://github.com/davisp/jiffy.git", {branch, "master"}}}
%%	,{json_schema_validator, {git, "https://github.com/fge/json-schema-validator.git"},[raw]}
       ]}.

{shell, [
  % {config, [{config, "config/sys.config"}]},
    {apps, [example3]}
]}.
